---
layout: page
title: "Sara P. Fernandes"
description: "Quem é?"
header-img: "img/empresa.jpg"
---
<hr>

{% for member in site.data.members %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">

	<h1>{{ member.name }}</h1>

	<h2>{{ member.role }}</h2>

	{% if member.github %}
	<span class="social-share-googleplus"><a href="https://br.linkedin.com/in/sara-p-fernandes-547ab268" title="Linkedin"><img src="{{ "/img/icons/linkedin.png" | prepend: site.baseurl }}" style="height:20px">Linkedin </a></span>
	{% endif %}
	{% if member.gplus %}
	<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/icon-lattes.png" | prepend: site.baseurl }}" style="height:20px">Currículo Lattes </a></span>
	{% endif %}

	</br>

	{% if member.bio %}
	{{ member.bio }}

	{% endif %}
	<div class="col-lg-8 col-lg-offset-2 text-center">
									 <a href="{{ "/files/CV.pdf"}}" class="btn btn-lg btn-outline">
											 <i class="fa fa-download"></i> Download Curriculum
									 </a>
				</div>
	<!--<hr>-->

{% endif %}{% endfor %}
